{"openapi":"3.0.0","info":{"title":"iDoc API Reference","version":"","description":"iDoc Api secification and documentation.","termsOfService":"","license":null,"contact":[],"x-logo":{"url":"https:\/\/res.cloudinary.com\/ovac\/image\/upload\/h_300,w_380,c_fill,r_30,bo_20px_solid_white\/aboust_ey5v1v.jpg","altText":"iDoc API Reference","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":[]},"servers":[{"url":"http:\/\/app.local.com.br","description":"Documentation generator server."},{"url":"http:\/\/test.example.com","description":"Test server."}],"paths":{"\/api\/category":{"get":{"tags":["general"],"operationId":"Display a listing of the resource.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"data":[]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/category\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/category\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/category\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["general"],"operationId":"Store a newly created resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"http:\/\/app.local.com.br\/api\/category\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/category\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/category\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/category\/{category}":{"get":{"tags":["general"],"operationId":"Display the specified resource.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/category\/{category}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["general"],"operationId":"Update the specified resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"http:\/\/app.local.com.br\/api\/category\/{category}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["general"],"operationId":"Remove the specified resource from storage.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"http:\/\/app.local.com.br\/api\/category\/{category}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/product":{"get":{"tags":["general"],"operationId":"Display a listing of the resource.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":null}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/product\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/product\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/product\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["general"],"operationId":"Store a newly created resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":null}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"http:\/\/app.local.com.br\/api\/product\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/product\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/product\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/product\/{product}":{"get":{"tags":["general"],"operationId":"Display the specified resource.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":null}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["general"],"operationId":"Update the specified resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":null}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"http:\/\/app.local.com.br\/api\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["general"],"operationId":"Remove the specified resource from storage.","description":"","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":null}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"http:\/\/app.local.com.br\/api\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[]}