{"openapi":"3.0.0","info":{"title":"iDoc API Reference","version":"1.0","description":"Gosat API","termsOfService":"","license":null,"contact":{"name":"Nilberto Oliveira","email":"nilberto.oliveira@gosat.com.br","url":"https:\/\/www.gosat.org\/contato\/"},"x-logo":{"url":"https:\/\/www.gosat.org\/wp-content\/uploads\/2022\/05\/gosat-logo-600x238-1.png","altText":"iDoc API Reference","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":[]},"servers":[{"url":"http:\/\/app.local.com.br","description":"Documentation generator server."},{"url":"http:\/\/test.example.com","description":"Test server."}],"paths":{"\/api\/v1\/auth\/login":{"post":{"tags":["Token"],"operationId":"Obtem o token","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"54m4q_PLLXzl","description":"Email de cadastro.  Exemplo: teste@test.com.br"},"password":{"type":"string","example":"oYFmiMk4HV(K","description":"password cadastrado.  Exemplo: 123456"}},"example":{"email":"54m4q_PLLXzl","password":"oYFmiMk4HV(K"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"http:\/\/app.local.com.br\/api\/v1\/auth\/login\" \n    -d \"email\"=\"54m4q_PLLXzl\" \\\n    -d \"password\"=\"oYFmiMk4HV(K\" "},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/auth\/login\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"email\": \"54m4q_PLLXzl\",\n    \"password\": \"oYFmiMk4HV(K\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"email\" =>  \"54m4q_PLLXzl\",\n    \"password\" =>  \"oYFmiMk4HV(K\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/auth\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category":{"get":{"security":[{"BearerAuth":[]}],"tags":["Categorias"],"operationId":"Lista categorias","description":"Obtem a lista de todas as categorias","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"success":true,"data":[{"id":1,"name":"Eletr\u00f4nicos","description":"Categoria tecnologica"},{"id":2,"name":"Limpeza","description":"sabonete"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/v1\/category\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\"\n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/category\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/category\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"security":[{"BearerAuth":[]}],"tags":["Categorias"],"operationId":"Cria categoria","description":"[Descri\u00e7\u00e3o opcional]","requestBody":{"description":"[Descri\u00e7\u00e3o opcional]","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"Eletr\u00f4nicos","description":"Nome da categoria. "},"description":{"type":"string","example":"Categoria tecnologica","description":"Descri\u00e7\u00e3o da categoria. "}},"example":{"name":"Eletr\u00f4nicos","description":"Categoria tecnologica"}}}}},"parameters":[],"responses":{"200":{"description":"Categorias","content":{"application\/json":{"schema":{"title":"Categorias","type":"object","description":"Categorias de produtos","example":{"id":"1","name":"Eletr\u00f4nicos","description":"Eletr\u00f4nicos variados","created_at":"2024-08-11 16:09:45","updated_at":"2024-08-11 16:09:45"},"properties":{"id":{"type":"integer","description":"ID da categoria.","example":"1"},"name":{"type":"string","description":"Nome da categoria.","example":"Eletr\u00f4nicos"},"description":{"type":"string","description":"Descri\u00e7\u00e3o da categoria.","example":"Eletr\u00f4nicos variados"},"created_at":{"type":"string","description":"Data de cria\u00e7\u00e3o.","example":"2024-08-11 16:09:45"},"updated_at":{"type":"string","description":"Data de atualiza\u00e7\u00e3o.","example":"2024-08-11 16:09:45"}},"required":["id","name","description","created_at","updated_at"]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"http:\/\/app.local.com.br\/api\/v1\/category\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n\n    -d \"name\"=\"Eletr\u00f4nicos\" \\\n    -d \"description\"=\"Categoria tecnologica\" "},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/category\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"name\": \"Eletr\u00f4nicos\",\n    \"description\": \"Categoria tecnologica\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"name\" =>  \"Eletr\u00f4nicos\",\n    \"description\" =>  \"Categoria tecnologica\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/category\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/category\/{category}":{"get":{"security":[{"BearerAuth":[]}],"tags":["Categorias"],"operationId":"Buscar Categoria","description":"[Descri\u00e7\u00e3o opcional]","parameters":[{"in":"path","name":"category","description":"Id da categoria.","required":false,"schema":{"type":"required","example":"1"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"success":true,"data":{"id":1,"name":"Eletr\u00f4nicos","description":"Categoria tecnologica"}}}}}},"404":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Busca n\u00e3o retornou resultados!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\"\n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Categorias"],"operationId":"Editar Categoria","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"Eletr\u00f4nicos","description":"Nome da categoria. "},"description":{"type":"string","example":"Categoria tecnologica","description":"Descri\u00e7\u00e3o da categoria. "}},"example":{"name":"Eletr\u00f4nicos","description":"Categoria tecnologica"}}}}},"parameters":[{"in":"path","name":"category","description":"Id da categoria.","required":false,"schema":{"type":"required","example":"1"}}],"responses":{"200":{"description":"Categorias","content":{"application\/json":{"schema":{"title":"Categorias","type":"object","description":"Categorias de produtos","example":{"id":"1","name":"Eletr\u00f4nicos","description":"Eletr\u00f4nicos variados","created_at":"2024-08-11 16:09:45","updated_at":"2024-08-11 16:09:45"},"properties":{"id":{"type":"integer","description":"ID da categoria.","example":"1"},"name":{"type":"string","description":"Nome da categoria.","example":"Eletr\u00f4nicos"},"description":{"type":"string","description":"Descri\u00e7\u00e3o da categoria.","example":"Eletr\u00f4nicos variados"},"created_at":{"type":"string","description":"Data de cria\u00e7\u00e3o.","example":"2024-08-11 16:09:45"},"updated_at":{"type":"string","description":"Data de atualiza\u00e7\u00e3o.","example":"2024-08-11 16:09:45"}},"required":["id","name","description","created_at","updated_at"]}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\" \n    -d \"name\"=\"Eletr\u00f4nicos\" \\\n    -d \"description\"=\"Categoria tecnologica\" "},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"name\": \"Eletr\u00f4nicos\",\n    \"description\": \"Categoria tecnologica\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"name\" =>  \"Eletr\u00f4nicos\",\n    \"description\" =>  \"Categoria tecnologica\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"security":[{"BearerAuth":[]}],"tags":["Categorias"],"operationId":"Remover Categoria","description":"[Descri\u00e7\u00e3o opcional]","parameters":[{"in":"path","name":"category","description":"Id da categoria.","required":false,"schema":{"type":"required","example":"1"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"success":true,"data":[]}}}}},"404":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Busca n\u00e3o retornou resultados!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\"\n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/category\/{category}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product":{"get":{"tags":["Produtos"],"operationId":"Display a listing of the resource.","description":"","parameters":[],"responses":{"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/v1\/product\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/product\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/product\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Produtos"],"operationId":"Store a newly created resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"http:\/\/app.local.com.br\/api\/v1\/product\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/product\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/product\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/{product}":{"get":{"tags":["Produtos"],"operationId":"Display the specified resource.","description":"","parameters":[],"responses":{"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Produtos"],"operationId":"Update the specified resource in storage.","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Produtos"],"operationId":"Remove the specified resource from storage.","description":"","parameters":[],"responses":{"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Unauthenticated."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"http:\/\/app.local.com.br\/api\/v1\/product\/{product}\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[]}